.sidebar-section {
    flex: 3;
    margin: 20px;
    padding-bottom: 32px;
    background-color: antiquewhite;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-title{
    text-transform: uppercase;
    margin: 12px;
    padding: 6px;
    border-top: 1px solid rgb(95, 195, 163);
    border-bottom: 1px solid rgb(104, 228, 228);
    line-height: 22px;
    font-weight: 600;
}

.sidebar-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 3px;
}

.sidebar-subsection > p {
    padding: 18px;
    text-align: center;

}

.sidebar-categories {
  list-style: none;
  margin-bottom: 22px;
}

.sidebar-category {
    width: 50%;
    display: inline-block;
     text-align: left;
     margin-top: 5px ;
     cursor: pointer;    
}

.sidebar-social-icons {
    margin-top: 12px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-social-icon {
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  color: purple;   
}
